<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="login-container">

<div class="login-card">
<h2>Create Account</h2>

<div class="input-group">
<input id="newUser" placeholder="Username">
</div>

<div class="input-group">
<input id="newPass" type="password" placeholder="Password">
</div>

<div class="input-group">
<select id="role">
  <option value="sales">Sales</option>
  <option value="admin">Admin</option>
</select>
</div>

<button class="btn" onclick="signup()">Sign Up</button>

<p style="margin-top:15px;text-align:center;">
Already have an account?
<a href="/">Login</a>
</p>

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
